services:
    # 1. API(Main) Server (HTTP/REST)
    api:
        build:
            context: ${DOTNET_CONTEXT}
            dockerfile: Api/Dockerfile
        # container_name: ${PROJECT_NAME}-api
        working_dir: /workspace
        volumes:
            - ${DOTNET_CONTEXT}:/workspace
            - ./.env:/workspace/.env
        ports:
            - "${PORT_API}:${PORT_API_TARGET}"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - ConnectionStrings__DefaultConnection=Host=postgres;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
            - Redis__Configuration=redis:${PORT_REDIS_TARGET}
        depends_on:
            - postgres
            - redis
        deploy:
            resources:
                limits:
                    cpus: "${CPU_API}"
                    memory: ${MEM_API}
        networks:
            - dev-net

    # 2. Hub Server (WebSocket/SignalR)
    hub:
        build:
            context: ${DOTNET_CONTEXT}
            dockerfile: Hub/Dockerfile
        # container_name: ${PROJECT_NAME}-hub
        working_dir: /workspace
        volumes:
            - ${DOTNET_CONTEXT}:/workspace
            - ./.env:/workspace/.env
        ports:
            - "${PORT_HUB}:${PORT_HUB_TARGET}"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - Redis__Configuration=redis:${PORT_REDIS_TARGET}
        depends_on:
            - redis
        deploy:
            resources:
                limits:
                    cpus: "${CPU_HUB}"
                    memory: ${MEM_HUB}
        networks:
            - dev-net

    # 3. React Frontend (Vite)
    react:
        build:
            context: ${REACT_CONTEXT}
            dockerfile: Dockerfile
        # container_name: ${PROJECT_NAME}-react
        working_dir: /app
        volumes:
            - ${REACT_CONTEXT}:/app
            - /app/node_modules
        deploy:
            resources:
                limits:
                    cpus: "${CPU_REACT}"
                    memory: ${MEM_REACT}
        networks:
            - dev-net

    # 4. Redis (Shared Backplane)
    redis:
        image: redis:alpine
        # container_name: ${PROJECT_NAME}-redis
        restart: unless-stopped
        command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
        volumes:
            - redis-data:/data
            - ../redis/redis.conf:/usr/local/etc/redis/redis.conf
        ports:
            - "${PORT_REDIS}:${PORT_REDIS_TARGET}"
        networks:
            - dev-net
        deploy:
            resources:
                limits:
                    cpus: "${CPU_REDIS}"
                    memory: ${MEM_REDIS}

    # 5. PostgreSQL (DB)
    postgres:
        image: postgres:14-alpine
        # container_name: ${PROJECT_NAME}-postgres
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "${PORT_POSTGRESQL}:${PORT_POSTGRESQL_TARGET}"
        volumes:
            - ../app/db/data:/var/lib/postgresql/data
            - ../app/db/postgres.conf:/etc/postgresql/postgresql.conf
            - ../app/db/ini:/docker-entrypoint-initdb.d
        networks:
            - dev-net
        deploy:
            resources:
                limits:
                    cpus: "${CPU_POSTGRES}"
                    memory: ${MEM_POSTGRES}

networks:
    dev-net:
        driver: bridge

volumes:
    redis-data:
