services:
    # 1. API(Main) Server (HTTP/REST)
    api:
        build:
            context: ../app/dotnet
            dockerfile: Dockerfile
        working_dir: /workspace
        ports:
            - "${PORT_API}:5000"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - PORT=${PORT_API}
            - ConnectionStrings__DefaultConnection=Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}
            - Redis__Configuration=${REDIS_HOST}:${REDIS_PORT}
            - Redis__Name=${REDIS_NAME}
            - Redis__REDIS_SIGNAL_NAME=${REDIS_SIGNAL_NAME}
            - AWS__AccessKey=${AWS_ACCESS_KEY}
            - AWS__SecretKey=${AWS_SECRET_KEY}
            - AWS__Region=${AWS_REGION}
            - AWS__BucketName=${AWS_BUCKET_NAME}
            - Jwt__Key=${JWT_KEY}
            - Jwt__Issuer=${JWT_ISSUER}
            - Jwt__Audience=${JWT_AUDIENCE}
            - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
        depends_on:
            - postgres
            - redis
        networks:
            - dev-net

    # 2. Hub Server (WebSocket/SignalR)
    hub:
        build:
            context: ../app/dotnet
            dockerfile: Dockerfile
        working_dir: /workspace
        ports:
            - "${PORT_HUB}:5001"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - Redis__Configuration=${REDIS_HOST}:${REDIS_PORT}
            - Redis__Name=${REDIS_NAME}
            - Redis__REDIS_SIGNAL_NAME=${REDIS_SIGNAL_NAME}
            - Jwt__Key=${JWT_KEY}
            - Jwt__Issuer=${JWT_ISSUER}
            - Jwt__Audience=${JWT_AUDIENCE}
            - ALLOWED_ORIGINS=${ALLOWED_ORIGINS}
            - PORT=${PORT_HUB}
        depends_on:
            - redis
        networks:
            - dev-net

    # 3. React Frontend (Vite)
    react:
        build:
            context: ../app/react
            dockerfile: Dockerfile
        working_dir: /app
        environment:
            - VITE_API_URL=${VITE_API_URL}
            - VITE_HUB_URL=${VITE_HUB_URL}
        networks:
            - dev-net

    redis:
        image: redis:alpine
        restart: unless-stopped
        command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
        volumes:
            - redis-data:/data
            - ../redis/redis.conf:/usr/local/etc/redis/redis.conf
        ports:
            - "${PORT_REDIS}:6179"
        networks:
            - dev-net
        deploy:
            resources:
                limits:
                    cpus: "${CPU_REDIS}"
                    memory: ${MEM_REDIS}

    postgres:
        image: postgres:14-alpine
        restart: unless-stopped
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - "${PORT_POSTGRESQL}:5432"
        volumes:
            - db-data:/var/lib/postgresql/data
            - ../app/db/postgres.conf:/etc/postgresql/postgresql.conf
            - ../app/db/ini:/docker-entrypoint-initdb.d
        networks:
            - dev-net
        deploy:
            resources:
                limits:
                    cpus: "${CPU_POSTGRES}"
                    memory: ${MEM_POSTGRES}

networks:
    dev-net:
        driver: bridge

volumes:
    redis-data:
    db-data: # DB 데이터를 위한 네임드 볼륨 추가 (로컬 폴더를 어지럽히지 않습니다)
